.b-popup {
	background: #fff;
	border: 1px #0072bc solid;
	box-shadow: 3px 3px 5px #333;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
	height: 300px;
	left: 50%;
	margin: -150px 0 0 -200px;
	position: absolute;
	top: 50%;
	width: 400px;
	z-index: 100;
}

.b-popup .b-icon--close {
	background: url(../img/close-icon.png);
	cursor: pointer;
	height: 10px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 10px;
}

.b-popup_inner {
	line-height: 1.4;
	padding: 30px;
}

.b-popup h4,
.b-popup p {
	padding-bottom: 10px;
}

.b-popup_tags {
	overflow: hidden;
}

.b-popup_tags li {
	background: #cce3f2;
	float: left;
	font-size: .8em;
	font-style: italic;
	margin: 0 6px 6px 0;
	padding: 4px 8px;
}
	.b-popup_tags li:hover {
		background: #66aad7;
		color: #fff;
		cursor: pointer;
	}