body {
  color: #3c3c3c;
  font: 0.8em Georgia, Times, serif;
}

.b-container {
  margin: 0 auto;
  padding: 30px 0;
  width: 600px;
}

.b-feed li {
  border-bottom: 1px #ccc solid;
  line-height: 1.4;
  padding: 10px;
}
  .b-feed li:first-child {
    border-top: 1px #ccc solid;
  }

.b-feed h4 {
  font-size: 1.2em;
  padding-bottom: 6px;
}
